html {
  background-image: url("https://giffiles.alphacoders.com/105/105186.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edeaf7;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Tektur", cursive;
}
.left {
  width: 50%;
  float: left;
}
.title {
  width: 300px;
  background: #dbd8e38e;
  box-shadow: 10px 10px 10px #0e0b14;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 20px;
}
.right {
  width: 50%;
  float: right;
}
.cities {
  width: 500px;
  background: #dbd8e38e;
  box-shadow: 10px 10px 10px #0e0b14;
  border-radius: 10px;
  margin-top: 100px;
}
a {
  text-decoration: none;
  color: #331333;
}
h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
  margin-bottom: 10px;
}
h2 {
  margin: 0;
  font-size: 30px;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 25px;
  border-bottom: 1px dashed #2a24388a;
}
.city:first-child {
  padding-top: 7px;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 40px;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 38px;
}

.date {
  opacity: 0.7;
  margin-bottom: 15px;
  margin-top: 0px;
}

select {
  display: block;
  background-color: #dbd8e333;
  margin: 0 auto;
  border-color: #352f44a1;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px 5px;
  width: 50%;
  font-family: "Tektur", cursive;
}
footer {
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #f2effa;
}
.name {
  color: #e9afe4;
}
.git {
  color: #e9afe4;
}

.home {
  padding-bottom: 15px;
  color: black;
  font-size: 12px;
  text-align: center;
}
